{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3>Iniciar sesiónes</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">Usuarios</label>
        <input name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Clave</label>
        <input name="password" type="password" class="form-control" required>
      </div>
      <button class="btn btn-primary">Entrar</button>
    </form>
  </div>
</div>
{% endblock %}
